<form asp-action ="Create">
    <label>Ma sinh vien:</label>
    <input type="number" name ="EmployeeID" value ="1">
    <br>
    <label>Ten sinh vien:</label>
    <input type="text" name ="EmployeetName" value="Nguyen Van A">
    <br>
    <label>Tuoi:</label>
    <input type="number" name="EmployeeAge" value  ="18">
    <br>
    <input type="submit" name="" value ="send">
</form>
<h2>@ViewBag.ThongBao</h2>