<form asp-action ="Index2">
        <p>
            <label >He so A:</label>
            <input type="text" name="hesoA" >
        </p>
        <p>
            <label>He so B:</label>
            <input type="text" name ="hesoB">
        </p>
        <p>
            <label>He so C:</label>
            <input type="text" name ="hesoC">
        </p>
        <p>
        <input type="submit" value="Tinh gia tri">
        </p>
</form>
<h2>
    @ViewBag.thongbao
</h2>